<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title> CRC </title>
		{% load static %}
		<link href="{% static "testApp/css/navbar-style.css" %}" rel="stylesheet" type="text/css">
		<link href="https://fonts.googleapis.com/css?family=Poppins"
		rel="stylesheet">
		<link href="https://fonts.googleapis.com/icon?family=Material+Icons"
	  rel="stylesheet">
	</head>

	<body>

		<header>
		    <div class="topnav">
				<img src="{% static "testApp/images/NewCarLogo.png" %}" alt="logo" class="logo" height="40px" width="160px">
				<nav>
					<ul class="menu-main">
					    <li><a href="\CRC"> Home </a></li>
					    <li><a href="#"> Locations </a></li>
					    <li><a href="#"> Hire Cars </a></li>
					    <li><a href="#"> Help </a>
							<div class="menu-sub">
			                    <ul>
			                        <li><a href="#"> FAQ </a></li>
			      				    <li><a href="\CRC\ContactUs"> Contact Us </a></li>
			                    </ul>
			                </div>
						</li>
					    <li><a href="#"> EN </a></li>
					    <li><a href="#"> Sign In </a>
					    	<div class="menu-sub">
							    <ul>
									<li><a href="\CRC\staffPortal"> Sign In </a></li>
									<li><a href="\CRC\create_account"> Create New Account </a></li>
							    </ul>
							</div>
					    </li>
					</ul>
			    </nav>
		    </div>
		</header>

<!-- Search section goes here -->
		<section>
			<div class="row2">
				<!-- <div class="leftcolumn"> -->
					<h1 align="center" style="padding-top:30px;"> Start Your Search Here </h1>
					<form action="/CRC/search" method="get">
						<select name="pickupLocation">
							<option value="allStores">Any Location</option>
					        {% for store in StoreList %}
					            <option value="{{store.id}}">{{store.city}}</option>
					        {% endfor %}
					    </select>
						<br> Pick Up Date: <br>
						<input type="date" name="pickupDate"><br>
						Drop Off Date:<br>
						<input type="date" name="dropoffDate"><br>
						<!-- drop off date should have an error message if the date is before
						pick up -->
						number of seats:<br>
					    <select name="seats">
					        <option value="3">below 4</option>
					        <option value="4">4</option>
					        <option value="5">5</option>
					        <option value="6">6</option>
					        <option value="7">7</option>
					        <option value="8">8 and above</option>
					    </select>
					    <br>
					    Make of car:<br>
					    <input type="text" name="makeOfCar">
					    <br>
					    Model of car:<br>
					    <input type="text" name="carModel">
					    <br>
					    Body type:<br>
					    <input type="text" name="bodyType">
					    <br>
					    Drive:<br>
					    <select name="driveType">
					        <option value="4WD">4WD</option>
					        <option value="FWD">FWD</option>
					        <option value="RWD">RWD</option>
					    </select>
					    <br>
					    <input type="submit" value="search">
					</form>
					<h1 align="center" style="padding-top:30px;"> Or get recommendations Based on your profile </h1>
					<form action="/CRC/search/" method="post"> {% csrf_token %}
					    <input type="text" value="11010" style="display:none" name="userid">
					    <input type="submit" value="Recommend Cars">
					</form>
				<!-- </div> -->
			</div>
		</section>

		<div style="height: 50px"></div>
		<footer>
			<div class="footer-main">
				<nav>
					<ul>
						<li><a href="#">Need help?</a></li>
					</ul>
				</nav>
			</div>
		</footer>

	</body>
</html>
