{% include "../includes/HTMLOpener.html" %}
<title> Staff Homepage </title>
{% load static %}
<link href="{% static "testApp/css/navbar-style.css" %}" rel="stylesheet" type="text/css">
{% include "../includes/Header.html" %}
	<title> Staff Homepage </title>
    <h1 align="center" style="padding-top:20px;"> Employee Portal </h1>
    <br> <!-- need a break in between image box and specific info -->


    <!--This is where the first row of buttons for each category
    will become links -->
    <div class="row">
      <div class="leftcolumn">
        <a href="" class="empbutton" style="background-color:orange"><b>
          People </b></a>
        <a href="" class="stafflink"> Employee Information </a>
        <a href="" class="stafflink"> Contact List </a>
      </div>

      <div class ="rightcolumn">
        <a href="" class="empbutton" style="background-color:green"><b>
          Finances </b></a>
        <a href="" class="stafflink"> Claim An Expense </a>
        <a href="" class="stafflink"> View Financial Statements </a>
      </div>
    </div>

    <!-- This is the second row of buttons -->

    <div class="row">
      <div class="leftcolumn">
        <a href="" class="empbutton" style="background-color:deepskyblue"><b>
          Stores </b></a>
        <a href="staffPortal/vehicleReturns/" class="stafflink"> <u>Return Schedules</u> </a>
        <a href="" class="stafflink"> Staff Performance </a>
        <a href="" class="stafflink"> Inspections </a>
      </div>

      <div class="rightcolumn">
        <a href="" class="empbutton" style="background-color:purple"><b>
          Data </b></a>
        <a href="" class="stafflink"> Performance Reports </a>
        <a href="" class="stafflink"> Business Insights </a>
        <a href="" class="stafflink"> Update Vehicle Information </a>
      </div>
    </div>

    <!-- final row of buttons which is just Security -->

    <div class="row">
      <div class="leftcolumn">
        <a href="" class="empbutton" style="background-color:red"><b>
          Security </b></a>
        <a href="" class="stafflink"> Account Access </a>
        <a href="" class="stafflink"> Change My Password </a>
      </div>

      <div class="rightcolumn">
        <br>
      </div>
    </div>

	</section>

	{% include "../includes/footer.html"%}
