        {% include "../includes/HTMLOpener.html" %}
        <title> Vechicle Return </title>
        {% load static %}
        <link rel="stylesheet" href="{% static "testApp/css/CarReturnsUpdatedShaleen.css" %}">
        {% if graphType != 'None'%}
        <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
        <script type="text/javascript">
            // Load google charts
            google.charts.load('current', {'packages':['corechart']});
            google.charts.setOnLoadCallback(drawChart);

            // Draw the chart and set the chart values
            function drawChart() {
                var data = google.visualization.arrayToDataTable([
                    ['Test', 'Cars to be returned'],
                    {% for count, name in counterAndNames %}
                    {% if forloop.last %}
                        ['{{name}}', {{count}}]
                    {% else %}
                        ['{{name}}', {{count}}],
                    {% endif %}
                    {% endfor %}
            ]);

            var options = {'title':'{{graphTitle}}', 'width':800, 'height':400};
            {% if graphType == 'Pie'%}
            var chart = new google.visualization.PieChart(document.getElementById('chart'));
            {% elif graphType == 'Column' %}
            var chart = new google.visualization.ColumnChart(document.getElementById('chart'));
            {% endif %}
            chart.draw(data, options);
        }
        </script>
        {% endif %}
        {% include "../includes/Header.html" %}
	<section>
    <div class="row">
    <div class="column left">
    <div class = "listbox1" align="left">
	<b>Please select your preference</b>
    <form action="/staffPortal/vehicleReturns" method="GET">
       	    <select name="ordering">
      			<option value="daily">View by: Daily</option>
      			<option value="weekly" {% if "Week" in graphTitle %} selected {% endif %}>View by: weekly</option>
                <option value="monthly" {% if "Month" in graphTitle %} selected {% endif %}>View by: monthly</option>
			</select>
			<br>
			<br>
  		    <label for="date"><b>Choose return date<br></b></label>
    		<input type="date" name="start_date" value="{{startDate}}">
            {% if perms.auth.board_member %}
    		<br>
    		<br>
    		<b>Select Return City</b><br>
    		<nav class = "listbox2" align="left">
       	    <select name="returnStore">
                <option value="allStores">All stores</option>
                {% for store in StoreList %}
                    <option value="{{store.id}}" {% if storeIDformatted == store.id|stringformat:"i" %} selected {% endif %}>{{store.city}}</option>
                {% endfor %}
  			</select>
            {% endif %}
            <br>
    		<br>
            <b>Type of Graph</b><br>
            <select name="Graph">
                <option value="None">No Graph</option>
                <option value="Column" {% if graphType == 'Column'%}selected{% endif %}>Column Graph</option>
                <option value="Pie" {% if graphType == 'Pie'%}selected{% endif %}>Pie Graph</option>
            </select>
	    <button type="submit" class="submit" value="Refresh">Refresh</button>
            <button type="submit" class="submit" name="pdf" value="Create PDF of results">Create PDF of Results</button>
           </div>
       </form>
  </div>
  <div class="column right">

  <div class="searchcontainer">
      <h2> Return Schedule</h2>
      <div id="chart"></div><br>
      <hr><br>
      <table id="table">
          {% for orders in zippedResults %}
          {% for order, car, customer, store in orders %}
          <tr id="box">
          <td><b>Return Date:</b>
              <p>{{order.returndate}}</p>
              <td><p><b>Car ID:</b>{{order.carid_id}}</p>
                  <p><b>Brand</b>: {{car.car_makename}}</p>
                  <p><b>Model</b>: {{car.car_model}}</p>
                  <p><b>Series</b>: {{car.car_series}}</p>
                  <p><b>Year</b>: {{car.car_seriesyear}}</p>
              </td><td><p><b>Return store: </b>{{store.city}}</p>
                  <p><b>Customer ID: </b>{{customer.id}}</p>
                  <p><b>Customer Name: </b>{{customer.name}}</p>
                  <p><b>Customer Phone: </b>{{customer.phone}}</p>
                  <p><b>Customer gender: </b>{{customer.gender}}</p>
          </td></td></tr>
          {% endfor %}
          <td></td>
          <td></td>
          {% empty %}
              <p> No cars to be returned </p>
          {% endfor %}
      </table>
  </div>
  </div>

  </section>
  {% include "../includes/footer.html"%}
