<form action="/CRC/search" method="get">
    Pickup Location:<br>
    <select name="pickupLocation">
        {% for store in StoreList %}
            <option value="{{store.id}}">{{store.name}}</option>
        {% endfor %}
    </select>
    <br>

    Drop Off Location:<br>
    <select name="dropoffLocation">
        {% for store in StoreList %}
            <option value="{{store.id}}">{{store.name}}</option>
        {% endfor %}
    </select>
    <br>
    Pickup Date:<br>
    <input type="date" name="pickupDate">
    <br>
    Drop Off Date:<br>
    <input type="date" name="dropoffDate">
    <br><br>
    <input type="submit" value="search">
</form>

<br><br><br>
<form action="/CRC/search/" method="get">
    <input type="text" name="q">
    <input type="submit" value="Search">
</form>
