{% include "../includes/HTMLOpener.html" %}
<title> Edit Your Information </title>
{% load static %}
<link href="{% static "testApp/css/MikeUserLandingPageCSS.css" %}" rel="stylesheet" type="text/css">
{% include "../includes/Header.html" %}

	<section>
<div class="row">
 <div class="column left">
<div class="container">
  <H1><strong>Greetings!</strong></H1>
     <label for="FullName"><b>Jacquelyn S</b><br></label>
         <label for="CustomerIDText">Customer ID: </label>
    	 <label for="CustomerID">11010</label>
     <br>
      <label for="Firstname"><br>First Name<br></label>
      <input type="text" id="fname" name="firstname" placeholder="Please type your First name" maxlength="225" value="{{customer.name}}" required>
      <label for="Middlename"><br>Middle Name<br></label>
      <input type="text" id="Mname" name="Middlename" placeholder="Please type your Middle name (optional)">
      <label for="Lastname"><br>Last Name<br></label>
      <input type="text" id="Lname" name="Lastname" placeholder="Please type your last name">

      <!-- <label for="Gender"><br>Gender<br></label>
      <select>
  			<option value="Daily">Male</option>
  			<option value="Weekly">Female</option>
	  </select> -->


	  <label for="gender"><br>Gender<br></label>
    <input id="gender" type="radio" name="Gender" value="M" maxlength="3"> Male<br>
    {%if customer.gender == M%}
    <input id="gender" type="radio" name="Gender" value="F" maxlength="3" > Female
    {%else%}
    <input id="gender" type="radio" name="Gender" value="F" maxlength="3" checked = "checked" > Female
    {%endif%}
    <br>

      <label for="DOB"><br>Date of Birth<br></label>
	  <input type="date" placeholder="Birth Date" name="DOB" maxlength="20" value = "{{customers.dob}}" required>
	  <br>

      <label for="Email"><br>Email address<br></label>
      <input type="text" disabled="disabled" id="youremail" name="youremail" placeholder="*******@***.com">

        <br>





</div>
</div>

  <div class="column right"align="center">
	<br>
	<br>
	<br>


	  <label for="HomeAddress"><br>Home Address<br></label>
      <input type="text" id="Haddress" name="Homeaddress" placeholder="Please type your Home address" maxlength="255" value="{{customer.address}}" required>
      <input type="text" id="Haddress2" name="Homeaddress2" placeholder="Optional">
      <input type="text" id="Haddress3" name="Homeaddress3" placeholder="Optional">
      <label for="Phonenumber"><br>Phone number<br></label>
	  <input type="text" id="Pnumber" name="Phonenumber" placeholder="Please type your phone number" maxlength="20" value="{{customer.phone}}" required>
	<br>
	<H2><i>Vehicle preference</i></H2>
	 <label for="Typecar"><br>please select what type of cars you prefer<br></label>
	  <select>
  			<option value="EconomicCar">Economic</option>
  			<option value="Sedan">Sedan</option>
  			<option value="Classic">Classic</option>
  			<option value="OffRoad">Off-Road</option>
  			<option value="Coupe">Coupe</option>
	  </select>
	 <label for="Brand"><br>please select Your preferred brand<br></label>
	  <select>
  			<option value="ALFA ROMEO">ALFA ROMEO</option>
  			<option value="AUDI">AUDI</option>
  			<option value="BMW">BMW</option>
  			<option value="CHRYSLER">CHRYSLER</option>
  			<option value="DATSUN">DATSUN</option>
  			<option value="EUNOS">EUNOS</option>
  			<option value="HONDA">HONDA</option>
  			<option value="LAND ROVER">LAND ROVER</option>
  			<option value="MAZDA">MAZDA</option>
  			<option value="MERCEDES-BENZ">MERCEDES-BENZ</option>
  			<option value="MITSUBISHI">MITSUBISHI</option>
  			<option value="NISSAN">NISSAN</option>
  			<option value="PEUGEOT">PEUGEOT</option>
  			<option value="RENAULT">RENAULT</option>
  			<option value="SAAB">SAAB</option>
  			<option value="TOYOTA">TOYOTA</option>
  			<option value="VOLKSWAGEN">VOLKSWAGEN</option>
  			<option value="VOLVO">VOLVO</option>

	  </select>



	  <input type="Update" value="Update">
	  <br>
	  <label for="Clicktip"><br><i>Click update button to save changes</i><br></label>



 </div>
 </div>
 	</section>
	{% include "../includes/footer.html"%}
