<!DOCTYPE html>
<html>
    <head>
	<meta charset="UTF-8">
	<title> Vechicle Return views</title>
    {% load static %}
	<link rel="stylesheet" href="{% static "testApp/css/MikeCarReturnCSS.css" %}">
    </head>

    <body>
	<header>
	    <div class="topnav"> <img src="#" alt="logo" class="logo">
	    <nav>
    		<ul class="menu-main">
    		    <li><a href="\CRC"> Home </a></li>
    		    <li><a href="#"> Locations </a></li>
    		    <li><a href="#"> Hire Cars </a></li>
    		    <li><a href="#"> Help </a>
                    <div class="menu-sub">
                        <ul>
                            <li><a href="#"> FAQ </a></li>
          				    <li><a href="\CRC\ContactUs"> Contact Us </a></li>
                        </ul>
                    </div>
                </li>
    		    <li><a href="#"> EN </a></li>
    		    <li><a href="#">
                    <i class="material-icons" style="vertical-align:middle"></i>
                    Sign Out </a></li>
            </ul>
        </nav>
	</header>

	<section>
<div class="row">
  <div class="column left">
<div class = "listbox1" align="center">
	<br>
	<br>
	<br>
	<br>
	<h2>Please select your preference</h2>
    <form action="/CRC/staffPortal/vehicleReturns" method="GET">
       	    <select name="ordering">
  			<option value="daily">View by: Daily</option>
  			<option value="weekly">View by: weekly</option>
            <option value="monthly">View by: monthly</option>
			</select>
			<br>
			<br>
  		    <label for="date"><b>Choose return date<br></b></label>
    		<input type="date" name="start_date">

    		<br>
    		<br>
    		<b>Select <br>Return City(optional)</b>
    		<nav class = "listbox2" align="center">
       	    <select name="returnStore">
                <option value="allStores">All stores</option>
                {% for store in StoreList %}
                    <option value="{{store.id}}">{{store.city}}</option>
                {% endfor %}
  			</select>
  				<br>
  				<br>
			<input type="submit" name="refresh"value="Refresh">
            <br><br>
            <input type="submit" name="pdf" value="Create PDF of results">
           </div>
       </form>
  </div>

    <div class="column right">
	<div class="searchcontainer">
	    <h2> Return Schedule</h2><hr>
	    <table id="table">
            {% for order, timeperiod_startDate, car, customer, store in zippedResults %}
                {% if order.returndate > timeperiod_startDate %}
                    {% if not forloop.first %}
                        <td></td>
                        <td></td>
                    {% endif %}
                {% endif %}
                <tr id="box">
        		<td><b>Return Date:</b>
        		    <p>{{order.returndate}}</p>
        		    <td><p><b>Car ID:</b>{{order.carid_id}}</p>
        		    	<p><b>Brand</b>: {{car.car_makename}}</p>
        		    	<p><b>Model</b>: {{car.car_model}}</p>
        		    	<p><b>Series</b>: {{car.car_series}}</p>
        		    	<p><b>Year</b>: {{car.car_seriesyear}}</p>
        		    </td><td><p><b>Return store: </b>{{store.city}}</p>
        		    	<p><b>Customer ID: </b>{{customer.id}}</p>
        		    	<p><b>Customer Name: </b>{{customer.name}}</p>
        		    	<p><b>Customer Phone: </b>{{customer.phone}}</p>
        		    	<p><b>Customer gender: </b>{{customer.gender}}</p>
        		</td></td></tr>
            {% empty %}
                <p> No cars to be returned </p>
            {% endfor %}
	    </table>
	</div>
	</div>

	</section>

	<footer>
	    <div class="footer-main">
		<nav>
		    <ul>
			<li><a href="#">Need help?</a></li>
		    </ul>
		</nav>
	    </div>
	</footer>

	</body>
</html>
