{% include "../includes/HTMLOpener.html" %}
	<title> Staff Home Page </title>
    {% load static %}
	<link rel="stylesheet" href="{% static "testApp/css/MikeStaffHomePageCSS.css" %}">
    {% include "../includes/Header.html" %}

	<section>



<div class="row">
 <div class="column left">

<button class="button button1">People</button>
<button class="button6"><u>Employee information</u></button>
<button class="button6"><u>Contact List</u></button>
<br>
<button class="button button2">Store</button>
<button class="button6" onclick="location.href='staffPortal/vehicleReturns'"><u>Return Schedules</u></button>
<button class="button6"><u>Staff Performance</u></button>
<button class="button6"><u>Inspections</u></button>
<br>
<button class="button button3">Security</button>
<button class="button6"><u>Account Access</u></button>
<button class="button6"><u>Change My Password</u></button>

  </div>
  <div class="column right">
<button class="button button4">Finances</button>
<button class="button6"><u>Claim an Expense</u></button>
<button class="button6"><u>View Financial Statements</u></button>
<br>
<button class="button button5">Data</button>
<button class="button6"><u>Performance Reports</u></button>
<button class="button6"><u>Business Insights</u></button>
<button class="button6"><u>Update Vehicle Information</u></button>
  </div>
</div>

	</section>
{% include "../includes/footer.html"%}
