<!doctype html>
<html>
<head>
<meta charset="utf-8">
<title>contact us</title>
{% load static %}
<link href="{% static "testApp/css/MikeContactPage draftCSS.css" %}" rel="stylesheet" type="text/css">


</head>
<body>
		<header>
	    <div class="topnav"> <img src="#" alt="logo" class="logo">
	    <nav>
			<ul class="menu-main">
			    <li><a href="\CRC"> Home </a></li>
			    <li><a href="#"> Locations </a></li>
			    <li><a href="#"> Hire Cars </a></li>
			    <li><a href="\CRC\ContactUs"> Help </a>
			    <li><a href="#"> EN </a></li>
			    <li><a href="#"> Sign In </a>
			    	<div class="menu-sub">
				    <ul>
					<li><a href="#"> Sign In </a></li>
					<li><a href="\CRC\create_account"> Create New Account </a></li>
				    </ul>
				</div>
			    </li>
			</ul>
	    </nav>
	    </div>
	</header>
	<section>

<div class="row">
	<div class="column left" style="background-color:#D5DBE5;">
	<div class="container">

  <H1><strong>Contact us today!</strong></H1>
    <ptb>
    <label for="Firstname">First Name</label>
    </ptb>
    <p>
      <input type="text" id="fname" name="firstname" placeholder="Please type your First name">
      <label for="Lastname"><br>Last Name<br></label>
      <input type="text" id="lname" name="lastname" placeholder="Please type your last name">

      <label for="Your Email"><br>Your Email<br>
      </label>
      <input type="text" id="youremail" name="youremail" placeholder="Please type your your Email account">
    </p>
    <p>
      <label for="subject">Subject<br>
      </label>
      <textarea id="subject" name="subject" placeholder="Write something.." style="height:100px"></textarea>

      <label for="Thanks for submitting!">
	<ptextarea>
	</ptextarea>

        <br>
      </label>

      <input type="submit" value="Submit">
    </p>
    <pty>
	  <label for="Thanks for submitting!">Thanks for submitting!</label>

    </pty>
		</form>
</div>
	    </div>
</div>

<div class="column right" style="background-color:#D5DBE5">
    <h2>Contact information</h2>
    <p>Feel free to contact with us</p>
	<br /> <br />
	<P><span><b>Store name: </b></span>Darlinghurst Store</p>
	<P><span><b>Store address: </b></span>5844 Linden Land</p>
	<b>Telephone</b>
	<p>tel: 1(11)543 5350184</p>
	<b>Email</b>
	<p>zrx724548549@gmail.com</p>
	<br />
	<P><span><b>Store name: </b></span>Hervey Bay Store</p>
	<P><span><b>Store address: </b></span>8734 Oxford Place</p>
	<b>Telephone</b>
	<p>tel: 746-535-0186</p>
	<b>Email</b>
	<p>mayuzumi0093@icloud.com</p>


  </div>
</div>

	</section>

	<footer>
	    <div class="footer-main">
		<nav>
		    <ul>
			<li><a href="#">Need help?</a></li>
		    </ul>
		</nav>
	    </div>
	</footer>
</body>
</html>
