<!DOCTYPE html>
<html>
    <head>
	<meta charset="UTF-8">
	<title> Search Results </title>
    {% load static %}
	<link rel="stylesheet" href="{% static "testApp/css/MikeStaffHomePageCSS.css" %}">
    </head>

    <body>
	<header>
	    <div class="topnav"> <img src="#" alt="logo" class="logo">
	    <nav>
            <ul class="menu-main">
    		    <li><a href="\CRC"> Home </a></li>
    		    <li><a href="#"> Locations </a></li>
    		    <li><a href="#"> Hire Cars </a></li>
    		    <li><a href="\CRC\ContactUs"> Help </a>
    		    <li><a href="#"> EN </a></li>
    		    <li><a href="#"> Sign In </a>
    		    	<div class="menu-sub">
    			    <ul>
    				<li><a href="#"> Sign In </a></li>
    				<li><a href="\CRC\create_account"> Create New Account </a></li>
    			    </ul>
    			</div>
    		    </li>
    		</ul>
	    </nav>
	    </div>
	</header>

	<section>



<div class="row">
 <div class="column left">

<button class="button button1">People</button>
<button class="button6"><u>Employee information</u></button>
<button class="button6"><u>Contact List</u></button>
<br>
<button class="button button2">Store</button>
<button class="button6"><u>Return Schedules</u></button>
<button class="button6"><u>Staff Performance</u></button>
<button class="button6"><u>Inspections</u></button>
<br>
<button class="button button3">Security</button>
<button class="button6"><u>Account Access</u></button>
<button class="button6"><u>Change My Password</u></button>

  </div>
  <div class="column right">
<button class="button button4">Finances</button>
<button class="button6"><u>Claim an Expense</u></button>
<button class="button6"><u>View Financial Statements</u></button>
<br>
<button class="button button5">Data</button>
<button class="button6"><u>Performance Reports</u></button>
<button class="button6"><u>Business Insights</u></button>
<button class="button6"><u>Update Vehicle Information</u></button>
  </div>
</div>

	</section>

	<footer>
	    <div class="footer-main">
		<nav>
		    <ul>
			<li><a href="#">Need help?</a></li>
		    </ul>
		</nav>
	    </div>
	</footer>

	</body>
</html>
