<form action = "/CRC/create_account/" method = "POST">
    {% csrf_token %}
    <label for ="name">Name:</label><br>
    <input id="name" type="text" name="Name" maxlength="225" required>
    <br>
    <label for ="phone">Phone:</label><br>
    <input id = "phone" type="Phone" name="Phone" maxlength="20" required>
    <br>
    <label for ="address">Address:</label><br>
    <input id="address" type="text" name="Address" maxlength="255" required>
    <br>
    <label for ="dob">DOB:</label><br>
    <input id ="dob" type="date" name="DOB" maxlength="20" required>
    <br>
    <label for ="occupation">Occupation:</label><br>
    <input id="occupation" type="text" name="Occupation" maxlength="255" required>
    <br>
    <label for ="gender">Gender:</label><br>
    <input id="gender" type="radio" name="Gender" value="M" checked maxlength="3" required> Male<br>
    <input id="gender" type="radio" name="Gender" value="F" maxlength="3" re> Female
    <br>
    <label for ="email">Email:</label><br>
    <input id="email" type="email" name="Email" placeholder="abcd123@example.com" maxlength="255" required> 
    <br>
    <!-- <label for ="pwd">Password:</label><br>
    <input type="password" name="Password" placeholder="abcd@1234" maxlength="255" required onchange="form.pwd2">
    <br>
    <label for ="pwd">Confirm Password:</label><br>
    <input id="pwd" type="password" name="pwd2" required>
    <br> -->
    <label for ="pwd">Password:</label><br>
    <input id="password" name="Password" type="password" pattern="^\S{6,}$" onchange="this.setCustomValidity(this.validity.patternMismatch ? 'Must have at least 6 characters' : ''); if(this.checkValidity()) form.password_two.pattern = this.value;" placeholder="Password" required>
    <br>
    <label for ="pwd">Confirm Password:</label><br>
    <input id="password_two" name="Confirm Password:" type="password" pattern="^\S{6,}$" onchange="this.setCustomValidity(this.validity.patternMismatch ? 'Please enter the same Password as above' : '');" placeholder="Verify Password" required>
    <br>
    <br>
    <input type="submit" value="Signup">
</form>
