<!DOCTYPE html>
<html>
    <head>
    	<meta charset="UTF-8">
    	<title> Vechicle Return views</title>
        {% load static %}
    	<link rel="stylesheet" href="{% static "testApp/css/MikeCarReturnCSS.css" %}">
    </head>
    <body>
        <div class="searchcontainer">
    	    <h2> Return Schedule</h2><hr>
            <table id="table">
                {% for orders in zippedResults %}
                {% for order, car, customer, store in orders %}
                <tr id="box">
                <td><b>Return Date:</b>
                    <p>{{order.returndate}}</p>
                    <td><p><b>Car ID:</b>{{order.carid_id}}</p>
                        <p><b>Brand</b>: {{car.car_makename}}</p>
                        <p><b>Model</b>: {{car.car_model}}</p>
                        <p><b>Series</b>: {{car.car_series}}</p>
                        <p><b>Year</b>: {{car.car_seriesyear}}</p>
                    </td><td><p><b>Return store: </b>{{store.city}}</p>
                        <p><b>Customer ID: </b>{{customer.id}}</p>
                        <p><b>Customer Name: </b>{{customer.name}}</p>
                        <p><b>Customer Phone: </b>{{customer.phone}}</p>
                        <p><b>Customer gender: </b>{{customer.gender}}</p>
                </td></td></tr>
                {% endfor %}
                <td></td>
                <td></td>
                {% empty %}
                    <p> No cars to be returned </p>
                {% endfor %}
    	    </table>
    	</div>
    </body>
</html>
