<h1> See cars that are to be returned </h1>
<form>
    <select>
        <option value="daily">daily</option>
        <option value="weekly">daily</option>
        <option value="monthly">daily</option>
    </select>
    <br>
    
</form>
<button>daily</button>
<button>weekly</button>
<button>monthly</button>
{% for order, timeperiod_startDate in zippedResults %}
    {% if order.returndate > timeperiod_startDate %}
        <br><br><br>
    {% endif %}
    {{ timeperiod_startDate }}
    <p>{{ order.id }}, {{ order.returndate }}, {{ order.returnstore }}</p>
{% empty %}
    <p> No cars to be returned </p>
{% endfor %}
