{% include "../includes/HTMLOpener.html" %}
	{% if PageType %}
	<title> Recomended Cars </title>
	{% else %}
	<title> Search Results </title>
	{% endif %}
    {% load static %}
	<link rel="stylesheet" href="{% static "testApp/css/Searchresults.css" %}">
	{% include "../includes/Header.html" %}
	<section>
	<div class="searchcontainer">
	    <h2> Here are the results!</h2><hr>

	    <table id="searchtable">
        {% for car in resultantCars %}
		<tr id="box">
		    <td><b>{{car.car_makename}}, {{car.car_model}}</b>
		    <p>{{car.car_seatingcapacity}} passengers</p>
		    <p>Tank size: {{car.car_tankcapacity}}</p>
		    <p>{{car.car_drive}}</p>
		    <p>{{car.car_fuelsystem}}</p>
			{% if perms.auth.staff_member or perms.auth.board_member %}
		    <p><a href="/CarInfo/{{ car.id }}/">[+] Edit Vehicle Details</a></p></td>
			{% else %}
			<p><a href="/CarInfo/{{ car.id }}/">[+] Vehicle Details</a></p></td>
			{% endif %}
		    <td><p><button id="reservenow" onclick="">Reserve now!</button></p></td>

		</tr>
		<td></td>
        {% empty %}
        <p> No results for the searched terms </p>
        {% endfor %}
	    </table>
	</div>

	</section>
{% include "../includes/footer.html"%}
