<form>
    Name:<br>
    <input type="text" name="Name">
    <br>
    Phone:<br>
    <input type="Phone" name="Phone">
    <br>
    Address:<br>
    <input type="text" name="Address">
    <br>
    DOB:<br>
    <input type="date" name="DOB">
    <br>
    Occupation:<br>
    <input type="text" name="Occupation">
    <br>
    Gender:<br>
    <input type="radio" name="Gender" value="M" checked> Male<br>
    <input type="radio" name="Gender" value="F"> Female
    <br>
    Email:<br>
    <input type="email" name="Email" placeholder="abcd123@example.com">
    <br>
    Password:<br>
    <input type="password" name="Password" placeholder="abcd@1234">
    <br>
    Confirm Password:<br>
    <input type="password" name="Password" placeholder="abcd@1234">
    <br>
    <br>
    <input type="submit" value="Signup">
  </form>