{% include "../includes/HTMLOpener.html" %}
{% load static %}
<link href="{% static "testApp/css/navbar-style.css" %}" rel="stylesheet" type="text/css">
{% include "../includes/Header.html" %}
<form action="/staffPortal/CarPopularity" method="get">
    Catagories:<br>
    <select name="Catagory">
        <option value="seats">Seat Number</option>
        <option value="price">Price of Car (new)</option>
        <option value="driveType">Drive Type of Vehicle</option>
        <option value="makeName">Make of Vehicle</options>
    </select>
    Graph Type:<br>
    <select name="Graph">
        <option value="Column">Column Graph</option>
        <option value="Pie">Pie Graph</option>
    </select>
    <input type="submit" value="submit">
</form>
<div id="chart"></div>
<script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
<script type="text/javascript">
    // Load google charts
    google.charts.load('current', {'packages':['corechart']});
    google.charts.setOnLoadCallback(drawChart);

    // Draw the chart and set the chart values
    function drawChart() {
        var data = google.visualization.arrayToDataTable([
            ['Test', 'Number Of Cars'],
            {% for count, name in counterAndNames %}
            {% if forloop.last %}
                ['{{name}}', {{count}}]
            {% else %}
                ['{{name}}', {{count}}],
            {% endif %}
            {% endfor %}
    ]);

    var options = {'title':'{{graphTitle}}', 'width':550, 'height':400};
    {% if graphType == 'Pie'%}
    var chart = new google.visualization.PieChart(document.getElementById('chart'));
    {% elif graphType == 'Column' %}
    var chart = new google.visualization.ColumnChart(document.getElementById('chart'));
    {% endif %}
    chart.draw(data, options);
}
</script>
<body>
{% for count, name in counterAndNames %}
{% if forloop.last %}
    {{name}}, {{count}}
{% else %}
    {{name}}, {{count}}
{% endif %}
{% endfor %}
{% include "../includes/footer.html"%}
</body>
